---
title: Tags
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>厨艺收藏</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        <li>
            <a href="./cooking/家常菜-香炖鸡" class="tag" target="_blank">家常菜-香炖鸡</a>
			<a href="./cooking/杏鲍菇炒肉" class="tag" target="_blank">杏鲍菇炒肉</a>
        </li>
    </ul>
</main>
    
{% include footer.html %}
